.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: var(--light-2);
  color: var(--bright-2);
  text-align: center;
}