.calculator {
	min-width: 28rem;
	max-height: 100%;
	background: var(--dark-1);
	border-radius: 0.5rem;
}

.display {
	background: var(--bright-2);
	min-height: 10rem;
	height: clamp(10rem, 22%, auto);
	border-radius: 0.5rem 0.5rem 0 0;
}

.button-container {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-areas:
		"top-row top-row"
		"numpad sympad";
	height: clamp(280px, 54rem, auto);
	margin: -0.1rem;

	.top-buttons {
		grid-area: top-row;
		display: grid;
		grid-template-columns: repeat(5, 20%);
		min-height: 5rem;

		.top-button {
			grid-row: 1;
			border: none;
			margin: 0 0.1rem;
		}

		.calc-label {
			grid-column: 1/3;
			grid-row: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0.5rem 0.3rem;
			border: 2px solid var(--bright-2);
			color: white;
			border-radius: 1rem;
		}
		#C {
			grid-column: 3 / 5;
			background: var(--bright-1);
		}
		#backspace {
			grid-column: 5;
			background: var(--bright-3);
		}
	}

	.numpad {
		grid-area: numpad;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 5rem);
		min-height: 100%;

		.num-button {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 2rem;
			min-height: 2rem;
			margin: 0.1rem;
			background: var(--light-1);
			border: none;
		}

		#factorial {
			border-radius: 0 0 0 0.5rem;
		}
	}
	.sympad {
		display: grid;
		grid-template-columns: 1fr 1fr;

		.sym-button {
			border: none;
			margin: 0.1rem;
			background: var(--light-1);
			filter: brightness(1.08);
		}

		#equals {
			grid-column: 2;
			grid-row: 3/5;
			background: var(--bright-2);
			border-radius: 0 0 0.5rem 0;
		}
	}
}
